* {
margin:0;
padding:0;
box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.person {
    background: #eeeeee;
    width: 17rem;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: o.3rem;
    text-align: center;
    transition: all 0.3s linear;
}

.person:hover {
    box-shadow: 2pm 5px 10px rgba(0,0,0,0.3);   
}

.person img {
    border-radius: 50%;
    border: 0.1rem solid teal;
}